# ======================
# ENV & IDE
# ======================
.vscode/
__pycache__/
*.pyc
.DS_Store

# ======================
# DATASET & TRAINING (Ignore Folder Data Besar)
# ======================
dataset/
dataset_split/
vegetable_classifier/
static/data/
data/
train/
val/
test/

# Pengecualian: File JSON ini harus tetap ikut di-push
!static/data/manfaat_sayuran.json

# ======================
# TRAINING OUTPUT & LOGS
# ======================
history/
logs/
evaluation/
results/
checkpoints/
tensorboard/

# ======================
# MODEL TRAINING (Ignore semua model mentah/sementara)
# ======================
models/*.h5
models/*.keras
models/*.pkl
models/*.joblib

# ======================
# MODEL SVM (Ignore Folder SVM Khusus)
# ======================
svm_model/

# ======================
# MODEL FINAL (ALLOW - Whitelist Model Utama)
# ======================
!models/best_model_Efficiennetb0_C70finalfix2.keras
!models/final_model_Efficiennetb0_C70finalfix2.keras
!models/best_model_mobilenetv2.keras

# ======================
# LABEL MAP (KEEP FINAL ONLY)
# ======================
models/label_map_*.json
!models/label_map_Efficiennetb0_C70finalfix2.json