body {
  background-color: #EAF7FF; /* warna biru muda background */
  margin: 0;
  font-family: 'Mochiy Pop One', sans-serif;
}

.decor {
  position: absolute;
  z-index: 1; /* lebih rendah dari teks */
}

.decor-left {
  top: 0;
  left: 0;
  width: 220px;
  height: 250px;
}

.decor-right {
  bottom: 0;
  right: 0;
  width: 245px; /* bisa sesuaikan dgn ukuran vegetables_corner */
  height: auto;
}

.content h1 {
  font-family: 'Mochiy Pop One', sans-serif;
  font-size: 50px;
  text-align: center;
  margin-bottom: 40px;
  font-weight: normal;
  position: relative;
  z-index: 10;  /* biar selalu di atas dekor */
}

.menu-buttons {
  display: flex;
  justify-content: center;
  gap: 60px; /* jarak antar tombol */
}

.menu-buttons button {
  width: 16.44vw;
  height: 30.82vh;
  border: none;
  border-radius: 20px;
  padding: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Bakso Sapi', cursive;
  font-size: 28px;
  color: #00334E;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  transition: transform 0.2s;
}

.menu-buttons button:hover {
  transform: scale(1.05);
}

.menu-buttons button img {
  width: 130%;
  height: 130%;            /* gambar ambil 70% tinggi tombol */
  object-fit: contain;    /* gambar tidak terpotong */
  display: block;
  margin: 0 auto 0 -22px; /* geser ke kiri 8px */      /* center horizontal */
}


/* warna spesifik tiap tombol */
.menu-buttons .sayuran {
  background-color: #00B4E1;
}

.menu-buttons .hewan {
  background-color: #008BAF;
}

.menu-buttons .permainan {
  background-color: #4FC3F7;
}

.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center; /* biar button & text center horizontal */
}

.menu-item p {
  font-family: 'Quicksand', sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #004154;
  margin-top: 10px; /* jarak dari button ke tulisan */
  text-align: center;
  z-index: 10;
}
